/*--------------------------------*/
/*General*/
/*--------------------------------*/

body {
  background-color: #04162b;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #fff;
}

/*--------------------------------*/
/*Index*/
/*--------------------------------*/

#disasterlink {
  padding: 200px;
  font-weight: 200;
  font-size: 36px;
  color: #fff;
}

/*--------------------------------*/
/*Filter*/
/*--------------------------------*/
#filter {
  text-align: center;
  color: #04162b;
}

/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#disaster-map {
  position:absolute;
  width: 100%;
  height: 800px;
}

.window-content {
  color: #04162b;
  width: 150px;
}