{% extends 'base.html' %}

{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/static/mapstyles.js"></script>

{% endblock %}


{% block body %}

   <div class='filter' id='filter' >

    <form id='form' action='/filtered_type.json'> Show
        <select class='incident_type' id='select-type' name='incident_type'>
          <option selected disabled>Filter disasters by type</option>
          <option value="all">All Types</option>
          {% for incident_type in TYPES %}
          <option value="{{incident_type}}">{{incident_type}}</option>
          {% endfor %}
        </select>

        <span style="color:white;"> that occured between </span><input type="date" name="min_date" id='min-date'>
        <span style="color:white;"> and </span> <input type="date" name="max_date" id='max-date'>

    <input type='submit'>
    </form>

   </div>

   <div id="disaster-map"></div>
   <script src="/static/disasters.js"></script>

{% endblock %}
